.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;
}
.navbar {
  margin-top: 1rem;
  display: flex;
  padding: 0.5rem 1.5rem;
  border-radius: 20px;
  border: 1px solid #f4f4f5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3 ease;
  gap: 2rem;
}
.logo {
  font-family: "PT Serif", sans-serif;
  font-size: 3em;
  font-weight: 550;
  padding-bottom: 10px;
  border-bottom: 3px solid #202022;
  color: #202022;
}

.itemNavbar a {
  font-size: 0.9rem;
  color: #27272ae6;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}
.itemNavbar a:hover {
  color: #60a5fa;
}
