.hero {
  display: flex;
  flex-direction: row;
  padding: 10vw 6vw 5vw 6vw;
  background-color: #ffffff;
  gap: 10vw;
}

.desc h1 {
  font-size: 3em;
  font-weight: 700;
  color: #27272a;
  font-family: "Inter", sans-serif;
}
.desc p {
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 1.6rem;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  color: #52525b;
  padding-right: 10vw;
}
.butons {
  display: flex;
  gap: 0.5vw;
  padding-bottom: 10px;
}
.logo {
  width: 2.5vw;
}
.photo {
  width: 18vw;
  height: 25vw;
  border-radius: 8%;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.photo:hover {
  transform: scale(1.05);
}
